:root {
    --primary-color: #F1F6F9;
    --secondary-color: #14274E;
    --tertiary-color: #394867;
    --quaternary-color: #9BA4B4;
  }
  
  .primary-color {
    background-color: var(--primary-color);
  }
  
  .secondary-color {
    background-color: var(--secondary-color);
  }
  
  .tertiary-color {
    background-color: var(--tertiary-color);
  }
  
  .quaternary-color {
    background-color: var(--quaternary-color);
  }
  