.primary-color {
    background-color: #F1F6F9;
    }
    
    .secondary-color {
    background-color: #14274E;
    }
    
    .tertiary-color {
    background-color: #394867;
    }
    
    .quaternary-color {
    background-color: #9BA4B4;
    }